{"K8sMN": {"Cluster": {"Terminals": [
{"HostName": "Centosbadguy-ot.com","IPAddress": "","UserName": "osboxes","SSHPort": "22","OS": "CT7","BaseLocation": "/opt/Matsya","AuthMode": "PASSWORD","LAN": "PRIVATE","OMIT": "","Range": ""},
{"HostName": "matsya-k8s-mn-terminal-192-168-1-18-posb.cluster","IPAddress": "192.168.1.18","UserName": "prathamos","SSHPort": "335","OS": "POSB","BaseLocation": "/opt/Matsya","AuthMode": "PASSWORD","LAN": "PRIVATE","OMIT": "","Range": ""},
{"HostName": "matsya-k8s-mn-terminal-192-168-1-14-ct8.cluster","IPAddress": "192.168.1.14","UserName": "osboxes","SSHPort": "22","OS": "CT8","BaseLocation": "/opt/Matsya","AuthMode": "PASSWORD","LAN": "PRIVATE","OMIT": "","Range": ""},
{"HostName": "matsya-k8s-mn-terminal-192-168-1-13-fdr.cluster","IPAddress": "192.168.1.13","UserName": "osboxes","SSHPort": "22","OS": "FDR","BaseLocation": "/opt/Matsya","AuthMode": "PASSWORD","LAN": "PRIVATE","OMIT": "","Range": ""},
{"HostName": "matsya-k8s-mn-terminal-192-168-1-11-deb.cluster","IPAddress": "192.168.1.11","UserName": "osboxes","SSHPort": "22","OS": "DEB","BaseLocation": "/opt/Matsya","AuthMode": "PASSWORD","LAN": "PRIVATE","OMIT": "","Range": ""},
{"HostName": "matsya-k8s-mn-terminal-192-168-1-8-ubu0.cluster","IPAddress": "192.168.1.8","UserName": "osboxes","SSHPort": "4433","OS": "UBU0","BaseLocation": "/opt/Matsya","AuthMode": "PASSWORD","LAN": "PRIVATE","OMIT": "","Range": ""},
{"HostName": "Newubu-withip.net","IPAddress": "192.168.1.9","UserName": "osboxes","SSHPort": "22","OS": "UBU","BaseLocation": "/opt/Matsya","AuthMode": "PASSWORD","LAN": "PRIVATE","OMIT": "","Range": ""},
{"HostName": "matsya-k8s-mn-terminal-192-168-1-10-mnt.cluster","IPAddress": "192.168.1.10","UserName": "osboxes","SSHPort": "22","OS": "MNT","BaseLocation": "/opt/Matsya","AuthMode": "PASSWORD","LAN": "PRIVATE","OMIT": "","Range": ""},
{"HostName": "vboxvagrantbased","IPAddress": "192.168.1.100","UserName": "vagrant","SSHPort": "45897","OS": "CT7","BaseLocation": "/opt/Matsya","AuthMode": "PEM","LAN": "PRIVATE","OMIT": "","Range": "107"},
{"HostName": "matsya-k8s-mn-terminal-192-168-1-5-pos.cluster","IPAddress": "192.168.1.5","UserName": "prathamos","SSHPort": "22","OS": "POS","BaseLocation": "/opt/Matsya","AuthMode": "PASSWORD","LAN": "PRIVATE","OMIT": "","Range": ""},
{}],"Terminal": [
{"AuthMode": "ANY","IsSamePassword": "NO","IsSamePEM": "NO","UserName": "","SSHPort": "","OS": "","BaseLocation": "/opt/Matsya","SecretsFileLocation": "/opt/Matsya/Repo/.SomLlVjyqShqksM"}
],"Info": [{"Name": "Alpha"}]}}}

