{
  "K8sMN": {
    "Cluster": {
      "Terminals": [
        {
          "HostName": "matsya-k8s-mn-terminal-192-168-1-18.cluster",
          "IPAddress": "192.168.1.18",
          "UserName": "prathamos",
          "SSHPort": "22",
          "OS": "POS",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PASSWORD",
          "LAN": "PRIVATE"
        },
        {
          "HostName": "matsya-k8s-mn-terminal-192-168-1-7.cluster",
          "IPAddress": "192.168.1.7",
          "UserName": "osboxes",
          "SSHPort": "22",
          "OS": "UBU",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PASSWORD",
          "LAN": "PRIVATE",
          "OMIT": "TRUE"
        },
        {
          "HostName": "matsya-k8s-mn-terminal-192-168-1-17.cluster",
          "IPAddress": "192.168.1.17",
          "UserName": "osboxes",
          "SSHPort": "22",
          "OS": "UBU0",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PASSWORD",
          "LAN": "PRIVATE",
          "OMIT": "TRUE"
        },
        {
          "HostName": "matsya-k8s-mn-terminal-192-168-1-9.cluster",
          "IPAddress": "192.168.1.9",
          "UserName": "osboxes",
          "SSHPort": "22",
          "OS": "DEB",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PASSWORD",
          "LAN": "PRIVATE",
          "OMIT": "TRUE"
        },
        {
          "HostName": "matsya-k8s-mn-terminal-192-168-1-11.cluster",
          "IPAddress": "192.168.1.11",
          "UserName": "osboxes",
          "SSHPort": "22",
          "OS": "MNT",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PASSWORD",
          "LAN": "PRIVATE",
          "OMIT": "TRUE"
        },
        {
          "HostName": "matsya-k8s-mn-terminal-192-168-1-10.cluster",
          "IPAddress": "192.168.1.10",
          "UserName": "osboxes",
          "SSHPort": "22",
          "OS": "CT7",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PASSWORD",
          "LAN": "PRIVATE",
          "OMIT": "TRUE"
        },
        {
          "HostName": "matsya-k8s-mn-terminal-192-168-1-14.cluster",
          "IPAddress": "192.168.1.14",
          "UserName": "osboxes",
          "SSHPort": "22",
          "OS": "CT8",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PASSWORD",
          "LAN": "PRIVATE"
        },
        {
          "HostName": "matsya-k8s-mn-terminal-192-168-1-16.cluster",
          "IPAddress": "192.168.1.16",
          "UserName": "osboxes",
          "SSHPort": "22",
          "OS": "FDR",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PASSWORD",
          "LAN": "PRIVATE",
          "OMIT": "TRUE"
        },
        {
          "HostName": "e2e-77-241.ssdcloudindia.net",
          "IPAddress": "164.52.208.241",
          "UserName": "e2euser",
          "SSHPort": "22",
          "OS": "E2E8",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PASSWORD",
          "OMIT": "TRUE"
        },
        {
          "HostName": "e2e-80-137",
          "IPAddress": "164.52.211.137",
          "UserName": "e2euser",
          "SSHPort": "22",
          "OS": "E2E7",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PASSWORD",
          "OMIT": "TRUE"
        },
        {
          "HostName": "ec2-18-233-168-181.compute-1.amazonaws.com",
          "IPAddress": "18.233.168.181",
          "UserName": "ec2-user",
          "SSHPort": "22",
          "OS": "AWS",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PEM",
          "OMIT": "TRUE"
        }
      ],
      "Terminal": [
        {
          "AuthMode": "ANY",
          "IsSamePassword": "NO",
          "IsSamePEM": "NO",
          "UserName": "",
          "SSHPort": "",
          "OS": "",
          "BaseLocation": "/opt/Matsya",
          "SecretsFileLocation": "/opt/Matsya/Repo/.g9428m9hJIC2qNh"
        }
      ],
      "Info": [
        {
          "Name": ""
        }
      ]
    }
  }
}
