{
  "VagVBoxMN": {
    "Cluster": {
      "Terminals": [
        {
          "HostName": "matsya-vagvbox-mn-terminal-192-168-1-18.cluster",
          "IPAddress": "192.168.1.18",
          "UserName": "prathamos",
          "SSHPort": "22",
          "NIC": "enp2s0",
          "Gateway": "192.168.1.1",
          "Netmask": "255.255.255.0",
          "OS": "POS",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PASSWORD"
        },
        {
          "HostName": "matsya-vagvbox-mn-terminal-192-168-1-7.cluster",
          "IPAddress": "192.168.1.7",
          "UserName": "osboxes",
          "SSHPort": "22",
          "NIC": "ens33",
          "Gateway": "192.168.1.1",
          "Netmask": "255.255.255.0",
          "OS": "UBU",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PASSWORD"
        },
        {
          "HostName": "matsya-vagvbox-mn-terminal-192-168-1-2.cluster",
          "IPAddress": "192.168.1.2",
          "UserName": "osboxes",
          "SSHPort": "22",
          "NIC": "ens33",
          "Gateway": "192.168.1.1",
          "Netmask": "255.255.255.0",
          "OS": "CT7",
          "BaseLocation": "/opt/Matsya",
          "OMIT": "TRUE"
        },
        {
          "HostName": "ec2-18-233-168-181.compute-1.amazonaws.com",
          "IPAddress": "18.233.168.181",
          "UserName": "ec2-user",
          "SSHPort": "22",
          "NIC": "ens33",
          "Gateway": "192.168.1.1",
          "Netmask": "255.255.255.0",
          "OS": "AWS",
          "BaseLocation": "/opt/Matsya",
          "AuthMode": "PEM",
          "OMIT": "TRUE"
        }
      ],
      "Terminal": [
        {
          "AuthMode": "ANY",
          "IsSamePassword": "NO",
          "IsSamePEM": "NO",
          "UserName": "",
          "SSHPort": "22",
          "NIC": "",
          "Gateway": "192.168.1.1",
          "Netmask": "255.255.255.0",
          "OS": "",
          "BaseLocation": "/opt/Matsya"
        }
      ],
      "Info": [
        {
          "Name": ""
        }
      ]
    }
  }
}
